<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="created" content=<%= cre_date %> />
    <meta name="modified" content=<%= mod_date %> />
    <meta name="tags" content=<%= tags %>/>
    <link rel="stylesheet" href="../default.css" type="text/css">
  </head>
  <body>
    <article>
      <%= content %>
    </article>
  </body>
<html>