<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="created" content=<%= cre_date.inspect %> />
    <meta name="modified" content=<%= mod_date.inspect %> />
    <meta name="tags" content=<%= tags.inspect %>/>
    <link rel="stylesheet" href="/default.css" type="text/css">
  </head>
  <body>
    <main class="note-wrapper">
      <article>
       <%= content %>
     </article>
    </main>
  </body>
<html>